@import 'tailwindcss';

@theme {
  --color-primary: #1d2745;
  --color-secondary: #1de5d4;
  --color-tertiary: #1d2745;
  --color-white: #ffffff;
  --color-mono100: #f1f1f1;
  --color-mono200: #bebebe;
  --color-mono300: #d6d7d9;
  --color-error: #d01e1e;
  --color-social: #395997;
  --color-black-opacity: rgba(255, 255, 255, 0.1);

  --text-xs: 12px;
  --text-xs--line-height: 18px;
  --text-xs--letter-spacing: 0;
  --text-xs--font-weight: 400;

  --text-sm: 14px;
  --text-sm--line-height: 21px;
  --text-sm--letter-spacing: 0;
  --text-sm--font-weight: 400;

  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-base--letter-spacing: 0;
  --text-base--font-weight: 400;

  --text-2xl: 24px;
  --text-2xl--line-height: 36px;
  --text-2xl--letter-spacing: 0;
  --text-2xl--font-weight: 700;

  --radius-primary: 5px;
  --radius-tag-button: 18px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #000;
  --bg-color: #fff;
}
.dark {
  --text-color: #fff;
  --bg-color: #000;
}

.dark {
  body {
    background-color: red !important;
    color: white !important;
  }
}

/* 기본 배경, 글자색 설정 */
body {
  font-family: 'Noto Sans KR';
  /* background-color: white;
  color: black; */
  color: var(--text-color);
  background-color: var(--bg-color);
  &.dark {
    --text-color: #fff;
    --bg-color: #000;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: white;
  }
} */

@layer components {
  .parent {
    .text-error {
      @apply absolute;
    }
  }
}
.title {
  color: var(--text-color);
}

/* root 라이트테마 기본 변수 */
:root {
  --text-color: #000;
  --bg-color: #fff;
}
/* 다크 테마 기본변수 */
.dark {
  --text-color: #fff;
  --bg-color: #000;
}